<!-- sample modal content -->
<div id="addRondin" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Agregar rondin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div>
                            <label class="form-label">Nombre</label>
                            <input class="form-control" type="text" placeholder="">
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <label class="mb-1">Descripción</label>
                    <textarea id="textarea" class="form-control" maxlength="225" rows="4"
                                placeholder="">
                    </textarea>
                </div>

                    <div class="col-lg-6 mt-3">
                    <div>
                        <label class="form-label">Alcance</label>
                        <input class="form-control" type="text" placeholder="mts">
                    </div>
                </div>
                                   
            <div class="modal-footer">
                <a href=@Url.Action("VistaVacia", "Rondines")
                class="btn btn-primary waves-effect waves-light">
                </a>
                <input 
                type="submit" 
                class="btn btn-primary waves-effect waves-light"
                value="Aceptar"
                name="Aceptar"
                onclick="location.href='<%: Url.Action('EditRondin', 'Rondines') %>'"
                />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>