<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Listado de rondines</h4>

                <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                    <thead>
                        <tr>
                            <th>Orden</th>
                            <th>Descripción</th>
                            <th>Coordenadas</th>
                            <th>Acción</th>
                        </tr>
                    </thead>


                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Patio Trasero</td>
                            <td>123° 45 - 678° 90</td>
                            <td>
                                <button type="button" 
                                        class="btn btn-link btn-rounded waves-effect"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#editRondin">
                                    <i class="bx bx-edit-alt font-size-16 align-middle me-2"></i>
                                </button>
                                <button type="button" class="btn btn-link btn-rounded waves-effect">
                                    <i class="bx bxs-trash-alt font-size-16 align-middle me-2"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Patio principal</td>
                            <td>098° 76 - 543° 21</td>
                            <td>
                                <button type="button" 
                                        class="btn btn-link btn-rounded waves-effect"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#editRondin">
                                    <i class="bx bx-edit-alt font-size-16 align-middle me-2"></i>
                                </button>
                                <button type="button" class="btn btn-link btn-rounded waves-effect">
                                    <i class="bx bxs-trash-alt font-size-16 align-middle me-2"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>
                                <button type="button" 
                                        class="btn btn-link btn-rounded waves-effect"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#editRondin">
                                    <i class="bx bx-edit-alt font-size-16 align-middle me-2"></i>
                                </button>
                                <button type="button" class="btn btn-link btn-rounded waves-effect">
                                    <i class=" bx bxs-trash-alt font-size-16 align-middle me-2"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                @await Html.PartialAsync("~/Views/Rondines/FormEditRondin.cshtml")

                <div class="d-flex flex-wrap gap-2 justify-content-end mt-1">
                    <button 
                    type="button" 
                    class="btn btn-primary waves-effect waves-light w-md"
                    data-bs-toggle="modal" 
                    data-bs-target="#addRondin">
                        Agregar
                    </button>
                    <button type="button" class="btn btn-danger waves-effect waves-light w-md">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary waves-effect waves-light w-md">
                       Aceptar
                    </button>

                     @await Html.PartialAsync("~/Views/Rondines/FormAddRondin.cshtml")

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
</div>



<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>