<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>
                <li>
                    <a href=@Url.Action("Index", "Dashboard") class="waves-effect">
                        <i class="bx bx-grid-alt"></i>
                        <span key="t-dashboards">Dashboards</span>
                    </a>
                </li>
                <li>
                    <a href=@Url.Action("Index", "Rondines") class="waves-effect">
                        <i class="bx bx-shield"></i>
                        <span key="t-rondines">Rondines</span>
                    </a>
                </li>
@*                <li>
                    <a href=@Url.Action("VistaVacia", "Rondines") class="waves-effect">
                        <i class="bx bx-shield"></i>
                        <span key="t-rondines">Editar Rondin</span>
                    </a>
                </li>*@
                <li>
                    <a href=@Url.Action("Index", "Rondas") class="waves-effect">
                        <i class="bx bx-walk"></i>
                        <span key="t-rondas">Rondas</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-error-circle"></i>
                        <span key="t-incidentes">Incidentes</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("Index", "Incidentes") class="waves-effect">Incidentes</a></li>
                        <li><a href=@Url.Action("Index", "TypesIncidentes") class="waves-effect">Tipos de incidentes</a></li>
                        <li><a href=@Url.Action("Index", "StatusIncidentes") class="waves-effect">Estatus de incidentes</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->